<form #formulario="ngForm" [formGroup]="form">
  <div class="name">
    <input type="text" formControlName="user" placeholder="Usuario"/>
    <app-message-form *ngIf="form.get('user')?.errors?.required && (formulario.submitted || form.get('user')?.touched)" message="Campo Obrigatorio"></app-message-form>
  </div>
  <div class="email">
    <input type="email" formControlName="email" placeholder="E-mail"/>
    <app-message-form *ngIf="form.get('email')?.errors?.required && (formulario.submitted || form.get('email')?.touched)" message="Campo Obrigatorio"></app-message-form>
    <app-message-form *ngIf="form.get('email')?.errors?.email && (formulario.submitted || form.get('email')?.touched)" message="E-mail inválido"></app-message-form>
  </div>
  <button (click)="setData()" hoverOpacityEffect [brightnessValue]='1.1'>Salvar dados</button>
</form>


<div
  id="dados"
  [className]="
    (data | async) && (data | async)?.length ? 'hasData' : 'hasNoData'
  "
>
  <table class="container" *ngIf="data | async">
    <thead>
      <th>Usuario</th>
      <th>Email</th>
    </thead>
    <tbody >
      <tr *ngFor="let userData of data | async" class="row" hoverOpacityEffect [brightnessValue]='.98'>
        <td>{{ userData.user | userNotation}}</td>
        <td>{{ userData.email }}</td>
      </tr>
    </tbody>
  </table>
  <span *ngIf="!(data | async)">No Data</span>
</div>
